<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <title>Mercado liebre</title>
    <script
      src="https://kit.fontawesome.com/03e63e3d58.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <link rel="stylesheet" href="/CSS/style.css" />
      <link rel="stylesheet" href="/CSS/registre.css" />
      <img id="logo" src="/images/logo-mercado-liebre.svg" />
      <img id="panel" src="/images/img-home-banner.jpg" />

      <div class="buscador">
        <input type="search" placeholder="Buscar" />
        <button class="icon"><i class="fas fa-search"></i></button>
      </div>

      <div class="parrafo">
        <p class="cyt">
          <i class="fas fa-hand-holding-usd">
            Compra en cuostas y con tarjeta de credito</i
          >
        </p>
      </div>

      <nav class="nav-bar">
        <ul class="listades1">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
          <br />
          <li>
            <a href="register">Creá tu cuenta</a
            ><i id="cut" class="fa-solid fa-address-card"></i>
          </li>
          <li>
            
            <a href="login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <button><i class="fas fa-bars"></i></button>
      </div>
    </header>
<body>
  
    <form method="post" action="/">
        <label for="NombreApellido">Nombre y apellido</label>
        <input type="text" name="NombreApellido" id="NombreApellido">
        
        <label for="UserName">Nombre del usuario</label>
        <input type="text" name="UserName" id="UserName">
        
        <label for="mail">Email</label>
        <input type="text" name="mail" id="mail">
        
        <label for="FechaNacimiento">Fecha de nacimiento</label>
        <input type="date" name="FechaNacimiento" id="FechaNacimiento">
        
        <label for="Domicilio">Domicilio</label>
        <input type="text" name="Domicilio" id="Domicilio">
        
        <label for="userProfile">Selecione un Perfil</label>
        <div>
          <label><input type="checkbox" name="comprador" value="comprador"> Comprador</label>
          <label><input type="checkbox" name="vendedor" value="vendedor"> Vendedor</label>
        </div>
        <div class="intereses">
            <p>Interese</p>
            <label><input type="checkbox" name="intereses" value="electro"> Electro</label>
            <label><input type="checkbox" name="intereses" value="moda"> Moda</label>
            <label><input type="checkbox" name="intereses" value="hogar"> Hogar</label>
            <label><input type="checkbox" name="intereses" value="jugueteria"> Jugueteria</label>
            <label><input type="checkbox" name="intereses" value="vidasana"> Vida Sana</label>
          </div>
        <label for="FondoUsuario">Foto de Perfil</label>
        <input type="file" name="FondoUsuario" id="FondoUsuario" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <label for="verificar">Verificar</label>
        <input type="password" name="verificar" id="verificar" required>
        <button class="enviar" type="submit">Enviar</button>
        <button class="borrar" type="reset">Borrar</button>
    </form>
    <footer>
      <section class="formadepago">
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="mensj1">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section class="envios">
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p class="mensj2">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="seguridad">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>

        <p class="mensj3">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      
    </footer>
    <footer>
    <section class="Copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>
</html>